{% extends 'main/base.html' %}
{% block content%}


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-8 mx-auto">
            <h1 class="text-center">Форма добавления истории участия в соревнованиях</h1>

            <form method="post" class="needs-validation" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ field.label_tag }}
                    </div>

                    <div class="col-md-8 mb-3">

                        {{ field }}

                    </div>

                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Сохранить соревнование</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}
