/.idea
site1/config/settings.py
site1/config/wsgi.py
/static/znaki/(А) Старт.jpg
/static/znaki/(А) Финиш.jpg
/static/znaki_FCI/1 START (A).jpg
/static/znaki/1_Page3.jpg
/static/znaki/1_Page44.jpg
/static/znaki/1_Page73.jpg
/static/znaki/1_Page100.jpg
/trainer/migrations/0001_initial.py
/roles/migrations/0003_competitor_competitior_vnezachet_and_more.py
/history/migrations/0003_remove_history_track1_grade_and_more.py
/roles/migrations/0004_competitor_additional_field_1_and_more.py
/main/migrations/0005_competition_status_other_and_more.py
/roles/migrations/0005_competitor_place_in_competition.py
/main/migrations/0006_alter_competition_reserve_class_ro_1_and_more.py
/roles/migrations/0006_competitor_date_added.py
/users/migrations/0006_dogs_father_name_dogs_father_pedigree_number_and_more.py
/main/migrations/0007_competition_entry_fee_and_more.py
/users/migrations/0007_dogs_ex_count_ro_1_dogs_ex_count_ro_2_and_more.py
/users/migrations/0008_user_middle_name.py
/static/znaki_FCI/10 FINISH (A).jpg
/static/znaki_FCI/101  DOWN (A).jpg
/static/znaki_FCI/102  STOP, DOWN (A).jpg
/static/znaki_FCI/103  STOP, WALK AROUND (A) .jpg
/static/znaki_FCI/104  STOP, DOWN, WALK AROUND (A) .jpg
/static/znaki_FCI/105  ABOUT TURN RIGHT (B) .jpg
/static/znaki_FCI/106  ABOUT TURN LEFT (B).jpg
/static/znaki_FCI/107  LOOP RIGHT (B).jpg
/static/znaki_FCI/108  LOOP LEFT (B) .jpg
/static/znaki_FCI/109  270° RIGHT (B) .jpg
/static/znaki_FCI/110  270° LEFT (B) .jpg
/static/znaki_FCI/111  360° RIGHT (A).jpg
/static/znaki_FCI/112  360° LEFT (A) .jpg
/static/znaki_FCI/113  TURN AROUND DOG BEHIND (B) .jpg
/static/znaki_FCI/114  STOP, 90° RIGHT TURN, STOP (B).jpg
/static/znaki_FCI/115  STOP, 90° LEFT TURN, STOP (B) .jpg
/static/znaki_FCI/116  SLOW PACE (A).jpg
/static/znaki_FCI/117  RUN (A) .jpg
/static/znaki_FCI/118  NORMAL PACE (A) .jpg
/static/znaki_FCI/119  SPIRAL RIGHT (B) .jpg
/static/znaki_FCI/120  SPIRAL LEFT (B) .jpg
/static/znaki_FCI/121  SINGLE SLALOM (B) .jpg
/static/znaki_FCI/122  DOUBLE SLALOM (B) .jpg
/static/znaki_FCI/201  2 x TURN AROUND DOG BEHIND (A) .jpg
/static/znaki_FCI/202  DOUBLE 180° TURN, RIGHT THEN LEFT (A) .jpg
/static/znaki_FCI/203  DOUBLE 180° TURN, LEFT THEN RIGHT (A) .jpg
/static/znaki_FCI/204  STOP, DOWN, SIT (A) .jpg
/static/znaki_FCI/205  STOP, STAND (A) .jpg
/static/znaki_FCI/206  STOP, STAND, SIT (A) .jpg
/static/znaki_FCI/207  STOP, STAND, DOWN (A) .jpg
/static/znaki_FCI/208  STOP, STAND, WALK AROUND (A) .jpg
/static/znaki_FCI/209  STOP, CALL FRONT STOP, RIGHT TO LEFT, STOP (A) .jpg
/static/znaki_FCI/210  STOP, CALL FRONT STOP, LEFT TO LEFT, STOP (A) .jpg
/static/znaki_FCI/211  STOP, 1 STEP FORWARD, 90° RIGHT TURN 1 STEP, CALL, STOP (B) .jpg
/static/znaki_FCI/212  STOP, 1 STEP FORWARD, 90° LEFT TURN 1 STEP, CALL, STOP (B) .jpg
/static/znaki_FCI/213  STOP, 180° RIGHT TURN, FORWARD (B) .jpg
/static/znaki_FCI/214  STOP, 180° LEFT TURN, FORWARD (B) .jpg
/static/znaki_FCI/215  STOP, 180° RIGHT TURN, STOP (B) .jpg
/static/znaki_FCI/216  STOP, 180° LEFT TURN, STOP (B) .jpg
/static/znaki_FCI/217  STOP, 90° RIGHT TURN 1 STEP, STOP (B) .jpg
/static/znaki_FCI/218  STOP, 90° LEFT TURN 1 STEP, STOP (B) .jpg
/static/znaki_FCI/219  STOP, 1 STEP STAND, 2 STEPS STOP, 3 STEPS DOWN (A) .jpg
/static/znaki_FCI/220  SPIN (A) .jpg
/static/znaki_FCI/221  DISTRACTIONS (B) .jpg
/static/znaki_FCI/222  SEND OVER JUMP (D) .jpg
/static/znaki_FCI/301  SIDE STEP RIGHT (B) .jpg
/static/znaki_FCI/302  SIDE STEP LEFT (B) .jpg
/static/znaki_FCI/303  STOP, SIDE STEP RIGHT, STOP (B) .jpg
/static/znaki_FCI/304  STOP, SIDE STEP LEFT, STOP (B) .jpg
/static/znaki_FCI/305  STOP, 1 STEP BACK STOP, 2 STEPS BACK STOP (A) .jpg
/static/znaki_FCI/306  CALL FRONT STOP, 1 STEP BACK STAND, 2 STEPS BACK STOP, 3 STEPS BACK DOWN (A) .jpg
/static/znaki_FCI/307  STAND, 180° RIGHT TURN, STAND (B) .jpg
/static/znaki_FCI/308  STAND, 180° LEFT TURN, STAND (B) .jpg
/static/znaki_FCI/309  STAND, CIRCLE AROUND HANDLER, STAND (A) .jpg
/static/znaki_FCI/310  TURN TOWARD (B) .jpg
/static/znaki_FCI/311  SIDE SHIFT BEHIND (A) .jpg
/static/znaki_FCI/312  SIDE SHIFT BETWEEN LEGS (A) .jpg
/static/znaki_FCI/313  BOTH ABOUT TURN RIGHT (B) .jpg
/static/znaki_FCI/314  BOTH ABOUT TURN LEFT (B) .jpg
/static/znaki_FCI/315  STOP, SIDE SHIFT BEHIND, STOP (A) .jpg
/static/znaki_FCI/316  STOP, SIDE SHIFT IN FRONT, STOP (A) .jpg
/static/znaki_FCI/317  MOVING STAND, WALK AROUND (A) .jpg
/static/znaki_FCI/318  MOVING DOWN, WALK AROUND (A) .jpg
/static/znaki_FCI/319  STOP, STAND, WALK FORWARD (A) .jpg
/static/znaki_FCI/320  SEND OVER TWO JUMPS (D) .jpg
/static/znaki_FCI/321  TURN AROUND, RECALL (B) .jpg
/static/znaki_FCI/322  TURN AROUND, RECALL FRONT STOP, RIGHT TO LEFT, STOP (B) .jpg
/static/znaki_FCI/323  TURN AROUND, RECALL FRONT STOP, LEFT TO LEFT, STOP (B) .jpg
/static/znaki_FCI/401  2 SIDE STEPS RIGHT (B) .jpg
/static/znaki_FCI/402  2 SIDE STEPS LEFT (B) .jpg
/static/znaki_FCI/403  STOP, 2 SIDE STEPS RIGHT, STOP (B) .jpg
/static/znaki_FCI/404  STOP, 2 SIDE STEPS LEFT, STOP (B) .jpg
/static/znaki_FCI/405  TURN APART (B) .jpg
/static/znaki_FCI/406  SIDE SHIFT IN FRONT (A) .jpg
/static/znaki_FCI/407  CIRCLE AROUND HANDLER (A) .jpg
/static/znaki_FCI/408  MOVING SIT, WALK FORWARD (A) .jpg
/static/znaki_FCI/409  MOVING DOWN, WALK FORWARD (A) .jpg
/static/znaki_FCI/410  STOP, SEND AWAY, STAND, WALK FORWARD, RECALL (A) .jpg
/static/znaki_FCI/411  CALL FRONT STAND, BACK AWAY, STAND, WALK FORWARD, RECALL (A) .jpg
/static/znaki_FCI/412  3 STEPS BACKWARDS (A) .jpg
/static/znaki_FCI/413  STOP, 1 STEP BACK STAND, 2 STEPS BACK STOP, 3 STEPS BACK DOWN (A) .jpg
/static/znaki_FCI/414  STOP, 90° RIGHT TURN STAND, 90° RIGHT TURN STOP,  90° RIGHT TURN DOWN (B) .jpg
/static/znaki_FCI/415  STOP, 90° LEFT TURN STAND, 90° LEFT TURN STOP, 90° LEFT TURN DOWN (B) .jpg
/static/znaki_FCI/416  CALL FRONT STOP, SIDE STEP LEFT STOP, SIDE STEP RIGHT STOP (A) .jpg
/static/znaki_FCI/417  90° LEFT TURN AROUND CONE (A) .jpg
/static/znaki_FCI/418  90° RIGHT TURN AROUND CONE (A) .jpg
/static/znaki_FCI/419  MOVING SIT, WALK AROUND (A) .jpg
/static/znaki_FCI/420  STOP, RECALL OVER JUMP (A) .jpg
/static/znaki_FCI/421  TURN AROUND, RECALL OVER JUMP WITH DIRECTIONS (B) .jpg
/static/znaki_FCI/422  TURN AROUND, BACK AWAY, SIT, DOWN, RECALL (B) .jpg
/media/1111111111111111111111
/static/znaki/arrows-slim.png
/static/znaki/dorozhnyj-konus1.png
/static/znaki_FCI/FCI_Page4.jpg
/static/znaki_FCI/FCI_Page27.jpg
/static/znaki_FCI/FCI_Page50.jpg
/static/znaki_FCI/FCI_Page74.jpg
/media/trainer_banner/Снимок_экрана_от_2024-04-16_12-18-29_UJewCIl.png
/static/znaki/№3 (А) Пауза - cидеть.jpg
/static/znaki/№4 (А) Пауза -лежать.jpg
/static/znaki/№5 (В) Поворот направо.jpg
/static/znaki/№6 (В) Поворот налево.jpg
/static/znaki/№7 (В) Разворот направо.jpg
/static/znaki/№8 (В) Разворот налево.jpg
/static/znaki/№9 (В) 270 ° Направо.jpg
/static/znaki/№10 (В) 270 ° налево.jpg
/static/znaki/№11 (А) 360 ͦ направо.jpg
/static/znaki/№12 (А) 360 ͦ налево.jpg
/static/znaki/№13 (А) Фронт – обход справа – движение.jpg
/static/znaki/№14 (А) Фронт – обход слева – движение.jpg
/static/znaki/№15 (А) Фронт – обход справа – пауза .jpg
/static/znaki/№16 (А) Фронт – обход слева – пауза .jpg
/static/znaki/№17  (А) Медленный темп .jpg
/static/znaki/№18 (А) Бег .jpg
/static/znaki/№19 (А) Нормальный темп .jpg
/static/znaki/№20 Боковой шаг вправо .jpg
/static/znaki/№21 (В) Спираль правая.jpg
/static/znaki/№22 (В) Спираль левая .jpg
/static/znaki/№23 (В) Змейка дважды.jpg
/static/znaki/№24 (В) Змейка .jpg
/static/znaki/№25 (А) Пауза – 1 – 2 – 3 шага назад с паузами .jpg
/static/znaki/№26 (А) Фронт – 1 – 2 – 3 шага назад с паузами .jpg
/static/znaki/№27 (А) Остановка - лежать .jpg
/static/znaki/№28 (А) Пауза – без из сидеть .jpg
/static/znaki/№29 (В) Немецкий разворот .jpg
/static/znaki/№30 (А) Пауза – сидеть – обойти вокруг собаки.jpg
/static/znaki/№31 (А) Пауза – лежать – обойти вокруг собаки.jpg
/static/znaki/№32 (В) фигура «8».jpg
/static/znaki/№33 (В) Пауза – синхронный поворот направо – движение.jpg
/static/znaki/№ 34 (В) Пауза – синхронный поворот налево – движение .jpg
/static/znaki/№35 (В) Фронт – возврат в рядом.jpg
/static/znaki/№36 (А) Пауза – медленный темп из сидеть.jpg
/static/znaki/№37 (В) Петля направо.jpg
/static/znaki/№38 (В) Петля налево.jpg
/static/znaki/№39 (В) Диагональ направо.jpg
/static/znaki/№40 (В) Диагональ налево.jpg
/static/znaki/№41 (В) Серпантин справа.jpg
/static/znaki/№42 (В) Серпантин слева.jpg
/static/znaki/№101  (В) Пауза – разворот направо 180°.jpg
/static/znaki/№102 (В) Пауза – разворот налево 180°.jpg
/static/znaki/№103 (D) Барьер – проводник проходит мимо.jpg
/static/znaki/№104  (В) Пауза - проводник  шаг вперед -  поворот направо - один шаг вперед – подзыв - пауза.jpg
/static/znaki/№105 (А) Пауза – стоять – обойти вокруг собаку.jpg
/static/znaki/№106  (В) Пауза – поворот  направо 90° - пауза.jpg
/static/znaki/№107 (В) Пауза – поворот  налево 90° - пауза .jpg
/static/znaki/№108 (В) Фигура «8» с отвлечениями .jpg
/static/znaki/№109  (В) Пауза- боковой шаг вправо - пауза.jpg
/static/znaki/№110 (А) Пауза- фронт – возврат справа – пауза .jpg
/static/znaki/№111 (А) Пауза- фронт – возврат в ОП слева – пауза .jpg
/static/znaki/№112  (В) Пауза –направо 180° - пауза .jpg
/static/znaki/№113 (В) Пауза – налево 180° - пауза .jpg
/static/znaki/№114 (А)  Пауза – лежать - сидеть.jpg
/static/znaki/№115 (А) Пауза - стоять .jpg
/static/znaki/№116 (В) Пауза - направо на 90º вместе – шаг вперед - пауза .jpg
/static/znaki/№ 117 (В) Пауза - налево на 90º вместе – шаг вперед - пауза .jpg
/static/znaki/№118 (А) пауза - оставить – проводник 2 шага вперед - подзыв .jpg
/static/znaki/№119 (В) Направо на 90º - собака обходит вокруг - движение .jpg
/static/znaki/№120 (В) Налево на 90º - собака обходит вокруг - движение.jpg
/static/znaki/№121  (В) Пауза – оставить -  шаг вперед -  налево 90º - шаг вперед – подзыв - пауза .jpg
/static/znaki/№122 (А) Пауза – 1 шаг – стоять – 2 шага – пауза – 3 шага - лежать .jpg
/static/znaki/№123 (А) Собака рядом – вращение от проводника .jpg
/static/znaki/№124 (А) Пауза – стоять – лежать .jpg
/static/znaki/№125 (А) Пауза – Стоять – Сидеть  .jpg
/static/znaki/№126 (А) Двойной немецкий разворот .jpg
/static/znaki/№127 (А) Разворот направо – Разворот налево.jpg
/static/znaki/№128 (А) Разворот налево – Разворот направо .jpg
/static/znaki/№201 (А) Остановка из движения – обойти вокруг .jpg
/static/znaki/№202 (А) Укладка из движения – обойти вокруг .jpg
/static/znaki/№203 (А) Пауза – стоять - оставить собаку .jpg
/static/znaki/№204 (А) Фронт - Пауза – 1 шаг – стоять – 2 шага – пауза – 3 шага - лежать .jpg
/static/znaki/№205 (А) Пауза- 1шаг назад – Пауза - 2 шага назад-Пауза .jpg
/static/znaki/№206 (В) Боковой шаг вправо .jpg
/static/znaki/№207 (В) Боковой шаг влево .jpg
/static/znaki/№208  (В) Пауза – боковой шаг влево – пауза  .jpg
/static/znaki/№209 (А) Стоять – собака обходит вокруг направо – Стоять .jpg
/static/znaki/№210 (D) Высыл через 2 барьера .jpg
/static/znaki/№211 (B) Разворот – Подзыв слева  .jpg
/static/znaki/№212 (B) Подзыв во фронт – обход  справа – Пауза.jpg
/static/znaki/№213 (B) Подзыв во фронт – обход  слева – Пауза .jpg
/static/znaki/№214 (B) Остановка – Поворот направо – Движение .jpg
/static/znaki/№215 (B) Остановка – Поворот налево – Движение.jpg
/static/znaki/№216 (А) Пауза – Собака обходит направо – Сидеть .jpg
/static/znaki/№217 (B) Стоять – разворот направо – стоять .jpg
/static/znaki/№218 (B) Стоять – разворот налево – стоять .jpg
/static/znaki/№219 (A) Смена стороны За проводником .jpg
/static/znaki/№220 (А) Смена стороны под ногой .jpg
/static/znaki/№221 (B) Синхронный разворот направо на 180º .jpg
/static/znaki/№222 (B) Синхронный разворот налево на 180º .jpg
/static/znaki/№223 (А) Пауза – смена стороны сзади – пауза  .jpg
/static/znaki/№224 (А) Пауза – смена стороны перед проводником – пауза .jpg
/static/znaki/№225 (B) Разворот навстречу синхронно .jpg
/static/znaki/№298 (А) Сидеть – остаться .jpg
/static/znaki/№301 (B) два боковых шага вправо .jpg
/static/znaki/№302 (B) два боковых шага влево .jpg
/static/znaki/№303  (B) Пауза – два  боковых шага вправо – пауза .jpg
/static/znaki/№304  (B) Пауза – два  боковых шага влево – пауза .jpg
/static/znaki/№305 (B) Разворот друг от друга синхронно .jpg
/static/znaki/№306 (А) Смена стороны перед проводником .jpg
/static/znaki/№307 (А)  Обход вокруг в движении .jpg
/static/znaki/№308 (А) Сидеть из движения – оставить собаку .jpg
/static/znaki/№309 (А) Лежать из движения – оставить собаку .jpg
/static/znaki/№310 (А) Пауза - высыл вперёд- остановка, движение вперёд, подзыв  .jpg
/static/znaki/№311 (А) Подзыв во фронт - стоять - движение назад - стоять - движение вперёд - подзыв .jpg
/static/znaki/№312 (А) 3 шага назад .jpg
/static/znaki/№313 (А) Пауза – Шаги назад_ 1 – стоять – 2– сидеть – 3 лежать.jpg
/static/znaki/№314 (B) Пауза - направо 90°- Стоять - направо 90° - Пауза - направо 90° - Лежать .jpg
/static/znaki/№315 (B) Пауза - налево 90°- Стоять - налево 90° - Пауза - налево 90° - Лежать .jpg
/static/znaki/№316 (А) Подзыв во фронт - Пауза - боковой шаг влево - Пауза, боковой шаг вправо - Пауза .jpg
/static/znaki/№317 (А) Поворот налево 90° - Обход конуса .jpg
/static/znaki/№318 (А) Поворот направо 90° - Обход конуса .jpg
/static/znaki/№319 (А) Посадка из движения - Обойти вокруг .jpg
/static/znaki/№320 (А) Пауза - подзыв с прыжком через барьер.jpg
/static/znaki/№321 (В) Разворот - подзыв с направлением через барьер по направлениям  .jpg
/static/znaki/№322 (В) Разворот - Движение назад - Сидеть - Лежать - Подзыв .jpg
/static/znaki/№323 (B) Лист клевера .jpg
