{% extends 'main/base.html' %}

{% block content%}

<div class="container">

    <div class="row mt-4 mb-4">

        <h3>Чтобы принять участие в соревнованиях, выберите собаку</h3>

    </div>
    <div class="row">
        <div class="col-sm-8">
             {% if competitors_limit_reached %}
                <div class="alert alert-warning" role="alert">
                    Максимальное количество участников в соревновании {{ competition_name }} уже достигнуто. Вы можете добавиться только в резерв.
                </div>
            {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="row">
                    <div class="col-md-4 mb-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-md-4 mb-3">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-success">Добавиться</button>
            </form>

        </div>
        <div class="col-sm-2">
            <a href="{% url 'users:user_detail' pk=user.pk %}" class="btn btn-warning text-white">Вернуться</a>
        </div>
    </div>

</div>

{% endblock %}