{% extends 'main/base.html' %}
{% block content%}


<div class="container mt-2 mb-2">

    <div class="row">
        <!-- Левая часть с изображением -->
        <div class="col-md-4">
            <img src="/media/{{ dog_info.dog_avatar }}" alt="фото собаки" class="img-fluid">
        </div>

        <!-- Правая часть с информацией о товаре -->
        <div class="col-md-4">

            <h2>Имя собаки: {{ dog_info.dog_name }} </h2>
            <p><b>Хозяин:</b><a href="{% url 'users:user_detail' pk=dog_info.owner.pk %}">
                {{ dog_info.owner.first_name }} {{ dog_info.owner.last_name }}</a></p>
            <p><b>Id собаки:</b> {{ dog_info.id_dog }}</p>
            <p><b>Домашнее имя собаки:</b> {{ dog_info.home_name }}</p>
            <p><b>Дата рождения:</b> {{ dog_info.date_borne }}</p>
            <p><b>Порода:</b> {{ dog_info.breed_dog }}</p>
            <p><b>Родословная:</b> {{ dog_info.pedigree_dog }}</p>
            <p><b>Федерация:</b> {{ dog_info.other_federation }}</p>
            <p><b>Номер чипа:</b> {{ dog_info.number_chip }}</p>
            <p><b>Клеймо:</b> {{ dog_info.brand_dog }}</p>
            <p><b>Пол собаки:</b> {{ dog_info.female_dog }}</p>
            <p><b>№ номер рабочей книжки:</b> {{ dog_info.number_bookwork }}</p>
            {% if is_owner or user.is_staff%}
            <a href="{% url 'dogs_update' dog_info.pk %}" class="btn btn-primary btn-sm">Изменить</a>
            <a href="{% url 'dogs_delete_com' dog_info.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            {% endif %}
        </div>

        <div class="col-md-4">
            <img src="/media/{{ dog_info.pedigree_file }}" alt="фото родословной" class="img-fluid">
        </div>

        <style>
    /* Стили для ссылок */
    .link-black {
        color: black; /* Черный цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
    }
</style>

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">История соревнований</h1>
    </div>
</div>


        <div class="container mt-5">
            <div class="row">
                <h3 class="text-left">Соревнования</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Дата соревнования</th>
                        <th>Город</th>
                        <th>Название соревнования</th>
                        <th>Статус соревнования</th>
                        <th>Класс</th>
                        <th>Результаты участия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for competition, competitors in competitions_dict.items %}
                    {% for competitor in competitors %}
                    <tr>
                        <td><a href="{% url 'detail_com' competition.pk %}" class="link-black">{{ competition.date_competition }}</a></td>
                        <td><a href="{% url 'detail_com' competition.pk %}" class="link-black">{{ competition.place_competition }}</a></td>
                        <td><a href="{% url 'detail_com' competition.pk %}" class="link-black">{{ competition.name_competition }}</a></td>
                        <td><p>{% if competition.status_not_official %}
                            - Неофициальные (не в графике РКФ)
                            {% endif %}</p>
                        <p>{% if competition.status_RKF %}
                            - В графике РКФ
                        {% endif %}</p>
                        <p>{% if competition.status_open %}
                            - Открытое
                        {% endif %}</p>
                        <p>{% if competition.status_Tests %}
                            - Испытания
                        {% endif %}</p>
                        <p>{% if competition.status_Quality %}
                            - Квалификационные соревнования
                        {% endif %}</p>
                        <p>{% if competition.status_Certificate %}
                            - Сертификатные CACROb и CACIROb
                        {% endif %}</p>
                        <p>{% if competition.status_Training %}
                            - Тренировочные
                        {% endif %}</p>
                    </td>
                        <td>{{ competitor.get_class_comp_display }}
                        <p>"Отлично":
                        {% if competitor.class_comp == 'ro_dety' %}
                        {{ competitor.selected_dog.ex_count_ro_dety }}
                    {% elif competitor.class_comp == 'ro_shenki' %}
                        {{ competitor.selected_dog.ex_count_ro_shenki }}
                    {% elif competitor.class_comp == 'ro_debut' %}
                        {{ competitor.selected_dog.ex_count_ro_debut }}
                    {% elif competitor.class_comp == 'ro_veterany' %}
                        {{ competitor.selected_dog.ex_count_ro_veterany }}
                    {% elif competitor.class_comp == 'ro_1' %}
                        {{ competitor.selected_dog.ex_count_ro_1 }}
                    {% elif competitor.class_comp == 'ro_2' %}
                        {{ competitor.selected_dog.ex_count_ro_2 }}
                    {% elif competitor.class_comp == 'ro_3' %}
                        {{ competitor.selected_dog.ex_count_ro_3 }}
                    {% elif competitor.class_comp == 'ro_4' %}
                        {{ competitor.selected_dog.ex_count_ro_4 }}
                    {% endif %}</p>
                   </td>
                        <td>
                            <ul>

                                <li>Оценка: {{ competitor.grade_competitor }}<br>
                                    Баллы: {{ competitor.points }}<br>
                                    Место: {{ competitor.place_in_competition }}<br>
                                </li>

                            </ul>
                        </td>

                    </tr>
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row">
                <h3 class="text-left">История выступлений (в соответствие с рабочей книжкой)</h3>
                <div class="col-md-3 p-3">
                    {% if is_owner or user.is_staff %}
                    <p><a href="{% url 'history:history_create' %}" class="btn btn-primary">Добавить выступление</a>
                        {% endif %}
                    </p>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Дата соревнования</th>
                        <th>Город</th>
                        <th>Название соревнования</th>
                        <th>Статус соревнования</th>

                        <th>Класс</th>
                        <th>Результаты участия</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for competition in history %}
                    <tr>
                        <td>{{ competition.date_competition }}</td>
                        <td>{{ competition.place }}</td>
                        <td>{{ competition.competition }}</td>
                        <td>{% if competition.status_not_official %}
                            - Неофициальные (не в графике РКФ)
                            {% endif %}
                            <p>{% if competition.status_RKF %}
                                - В графике РКФ
                                {% endif %}</p>
                            <p>{% if competition.status_open %}
                                - Открытое
                                {% endif %}</p>
                            <p>{% if competition.status_Tests %}
                                - Испытания
                                {% endif %}</p>
                            <p>{% if competition.status_Quality %}
                                - Квалификационные соревнования
                                {% endif %}</p>
                            <p>{% if competition.status_Certificate %}
                                - Сертификатные CACROb и CACIROb
                                {% endif %}</p>
                            <p>{% if competition.status_Training %}
                                - Тренировочные
                                {% endif %}</p>
                        </td>

                        <td>{{ competition.get_class_dog_display }}</td>
                        <td>
                            <ul>

                                <li>
                                    Оценка: {{ competition.get_grade_display }}<br>
                                    Баллы: {{ competition.points }}
                                </li>

                            </ul>
                        </td>
                        {% if is_owner %}
                        <td>
                            <a href="{% url 'history:history_update' competition.pk %}" class="btn btn-warning"
                               style="margin-bottom: 1mm;">Редактировать</a>
                            <form action="{% url 'history:history_delete' competition.pk %}" method="post"
                                  style="display: inline; margin-top: 1mm;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </td>
                        {% endif %}
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
</div>


{% endblock %}
