{% extends 'main/base.html' %}

{% block content %}
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
    <h2>Подтверждение сброса пароля</h2>
                  </div>
           </div>

<div class="card-body">
  {% if validlink %}
<p>Введите новый пароль, чтобы завершить сброс пароля.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Сохранить пароль</button>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля недействительна или истекла.</p>
  {% endif %}
          </form>
        </div>
    </div>
    </div>
{% endblock %}