{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Ралли Обидиенс</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://bootstrap-4.ru/docs/5.3/examples/headers/">
	<!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<!-- Favicons -->
	<meta name="theme-color" content="#712cf9">

   <style>

    </style>

</head>
<body>

<header class="p-3" style="background-color: #e3ffd4;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="/static/logo.webp" alt="Баннер соревнования" class="img-fluid" style="max-width: 70px; max-height: 70px;">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
            </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-black">Главная</a></li>
          <li><a href="/news/" class="nav-link px-2 text-black">Новости</a></li>
            <!--
          <li><a href="/blog/" class="nav-link px-2 text-black">Календарь</a></li>
          <li><a href="/blog/" class="nav-link px-2 text-black">Правила</a></li>
          -->

        </ul>

        <div class="text-end">
                {% if user.is_authenticated %}

           <div class="d-flex">
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="p-2 btn btn-danger me-2">Выйти</button>
                </form>

                <a class="p-2 btn btn-warning mx-2" href="{% url 'users:user_detail' pk=user.pk %}">Профиль</a>
            </div>
                {% else %}
            <a class="btn btn-outline-dark me-2" href="{% url 'users:login' %}">Войти</a>
            <a class="p-2 btn btn-warning" href="{% url 'users:register' %}">Регистрация</a>
                {% endif %}

        </div>
      </div>
    </div>
  </header>


{% block content%}



{% endblock %}

<script src="/static/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>