{% extends 'main/base.html' %}
{% block content%}


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-8 mx-auto">
            <h1 class="text-center">Форма соревнования</h1>

            <form method="post" class="needs-validation" enctype="multipart/form-data">
                    {% csrf_token %}
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.name_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.name_competition }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.image_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.image_competition }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.date_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.date_competition }}
                                </div>
                    <p>ИЛИ</p>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.pre_date_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.pre_date_competition }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.start_date_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.start_date_competition }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.end_date_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.end_date_competition }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.send_message_start_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.send_message_start_competition }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.invitation_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.invitation_competition }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.rules_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.rules_competition }}
                                </div>
                    <p><h5>Статус соревнований (заполнить обязательно, возможно несколько отметок)</h5></p>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_not_official.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_not_official }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_RKF.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_RKF }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_open.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_open }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_Tests.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_Tests }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_Quality.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_Quality }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_Certificate.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_Certificate }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_Training.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_Training }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.status_other.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.status_other }}
                                </div>
                            </div>
                <p><h5>Данные об организаторе и месте проведения</h5></p>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.place_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.place_competition }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.play_ground_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.play_ground_competition }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.place_on_map.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.place_on_map }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.contact_organization.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.contact_organization }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.club_organization.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.club_organization }}
                                </div>
                            </div>
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.logo_club_organization.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.logo_club_organization }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.judge_competition.label_tag }}
                                </div>
                                <div class="col-md-8 mb-3">
                                    {{ form.judge_competition }}
                                </div>
                            </div>
                <!-- Здесь начинаются чек боксы с классами -->
                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_dety.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_dety }}
                                </div>

                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_dety }}  {{ form.count_class_ro_dety }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_dety }} Внезачет {{ form.vnezachet_class_ro_dety }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_dety }}
                                    </div>
                                </div>

                </div>

                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_shenki.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_shenki }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock1" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_shenki }}  {{ form.count_class_ro_shenki }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_shenki }} Внезачет {{ form.vnezachet_class_ro_shenki }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_shenki }}
                                    </div>
                                </div>
                            </div>

                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_debut.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_debut }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock2" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_debut }}  {{ form.count_class_ro_debut }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_debut }} Внезачет {{ form.vnezachet_class_ro_debut }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_debut }}
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_veterany.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_veterany }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock3" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_veterany }}  {{ form.count_class_ro_veterany }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_veterany }} Внезачет {{ form.vnezachet_class_ro_veterany }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_veterany }}
                                    </div>
                                </div>
                            </div>


                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_1.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_1 }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock4" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_1 }}  {{ form.count_class_ro_1 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_1 }} Внезачет {{ form.vnezachet_class_ro_1 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_1 }}
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_2.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_2 }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock5" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_2 }}  {{ form.count_class_ro_2 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_2 }} Внезачет {{ form.vnezachet_class_ro_2 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_2 }}
                                    </div>
                                </div>
                            </div>


                <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_3.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_3 }}
                                </div>
                              <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock6" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_3 }}  {{ form.count_class_ro_3 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_3 }} Внезачет {{ form.vnezachet_class_ro_3 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_3 }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    {{ form.class_ro_4.label_tag }}
                                </div>
                                <div class="col-md-1 mb-3">
                                    {{ form.class_ro_4 }}
                                </div>
                                <div class="col-md-7 mb-3 border-bottom" id="additionalFieldsBlock7" style="display: none;">
                                    <div class="col-md-12 mb-3">
                                        {{ form.judge_class_ro_4 }}  {{ form.count_class_ro_4 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        Резерв {{ form.reserve_class_ro_4 }} Внезачет {{ form.vnezachet_class_ro_4 }}
                                    </div>

                                    <div class="col-md-12 mb-3">
                                         {{ form.count_vnezachet_class_ro_4 }}
                                    </div>
                                </div>
                            </div>

            <div class="row">
                <div class="col-md-4 mb-3">
                    {{ form.entry_fee.label_tag }}
                </div>
                <div class="col-md-8 mb-3">
                    {{ form.entry_fee }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    {{ form.comment_for_competition.label_tag }}
                </div>
                <div class="col-md-8 mb-3">
                    {{ form.comment_for_competition }}
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Сохранить соревнование</button>

            </form>
        </div>
    </div>
</div>



<!-- JavaScript-скрипт для обработки событий изменения состояния чекбоксов-->
<script>
    function toggleAdditionalFields(checkboxId, additionalFieldsBlockId) {
        var checkbox = document.getElementById(checkboxId);
        var additionalFieldsBlock = document.getElementById(additionalFieldsBlockId);

        if (checkbox.checked) {
            additionalFieldsBlock.style.display = 'block';
        } else {
            additionalFieldsBlock.style.display = 'none';
        }
    }

    window.onload = function() {
        toggleAdditionalFields('id_class_ro_dety', 'additionalFieldsBlock');
        toggleAdditionalFields('id_class_ro_shenki', 'additionalFieldsBlock1');
        toggleAdditionalFields('id_class_ro_debut', 'additionalFieldsBlock2');
        toggleAdditionalFields('id_class_ro_veterany', 'additionalFieldsBlock3');
        toggleAdditionalFields('id_class_ro_1', 'additionalFieldsBlock4');
        toggleAdditionalFields('id_class_ro_2', 'additionalFieldsBlock5');
        toggleAdditionalFields('id_class_ro_3', 'additionalFieldsBlock6');
        toggleAdditionalFields('id_class_ro_4', 'additionalFieldsBlock7');
    }

    document.getElementById('id_class_ro_dety').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_dety', 'additionalFieldsBlock');
    });

    document.getElementById('id_class_ro_shenki').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_shenki', 'additionalFieldsBlock1');
    });

    document.getElementById('id_class_ro_debut').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_debut', 'additionalFieldsBlock2');
    });

    document.getElementById('id_class_ro_veterany').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_veterany', 'additionalFieldsBlock3');
    });

    document.getElementById('id_class_ro_1').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_1', 'additionalFieldsBlock4');
    });

    document.getElementById('id_class_ro_2').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_2', 'additionalFieldsBlock5');
    });

    document.getElementById('id_class_ro_3').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_3', 'additionalFieldsBlock6');
    });

    document.getElementById('id_class_ro_4').addEventListener('change', function() {
        toggleAdditionalFields('id_class_ro_4', 'additionalFieldsBlock7');
    });
</script>
<!-- Скрипт сохранения даты в полях дат-->
<script>
    window.onload = function() {
        // Получаем элементы полей даты
        var dateInput = document.getElementById('id_date_competition');
        var startDateInput = document.getElementById('id_start_date_competition');
        var endDateInput = document.getElementById('id_end_date_competition');

        // Получаем сохраненные значения из локального хранилища
        var savedDate = localStorage.getItem('date_competition');
        var savedStartDate = localStorage.getItem('start_date_competition');
        var savedEndDate = localStorage.getItem('end_date_competition');

        // Если есть сохраненные значения, устанавливаем их в соответствующие поля даты
        if (savedDate) {
            dateInput.value = savedDate;
        }
        if (savedStartDate) {
            startDateInput.value = savedStartDate;
        }
        if (savedEndDate) {
            endDateInput.value = savedEndDate;
        }

        // Добавляем обработчики событий изменения полей даты
        dateInput.addEventListener('change', function() {
            localStorage.setItem('date_competition', dateInput.value);
        });
        startDateInput.addEventListener('change', function() {
            localStorage.setItem('start_date_competition', startDateInput.value);
        });
        endDateInput.addEventListener('change', function() {
            localStorage.setItem('end_date_competition', endDateInput.value);
        });

        // Проверяем, если сохраненные значения в локальном хранилище не совпадают с значениями в полях,
        // то обновляем локальное хранилище значениями из полей
        if (savedDate && savedDate !== dateInput.value) {
            localStorage.setItem('date_competition', dateInput.value);
        }
        if (savedStartDate && savedStartDate !== startDateInput.value) {
            localStorage.setItem('start_date_competition', startDateInput.value);
        }
        if (savedEndDate && savedEndDate !== endDateInput.value) {
            localStorage.setItem('end_date_competition', endDateInput.value);
        }
    }
</script>


{% endblock %}
