{% extends 'main/base.html' %}
{% block content %}

<style>
    /* Стили для ссылок */
    .link-black {
        color: black; /* Черный цвет текста */
        text-decoration: none; /* Убираем подчеркивание */
    }
</style>

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Архив соревнований Ралли обидиенс</h1>
    </div>
</div>



<div class="container mt-5">
    <div style="background-color: #e3ffd4; border-top-left-radius: 20px; border-top-right-radius: 20px;">
     <div class="row">
         <div class="col text-center">
      <h2>Прошедшие соревнования</h2>
          </div>
     </div>
    </div>
    <div class="row">
        {% if past_competitions %}
        {% for object_competition in past_competitions %}
        <div class="col-md-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <p><a href="{% url 'detail_com' object_competition.pk %}" class="link-black"><b>{{ object_competition.name_competition }}</b></a></p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="{% url 'detail_com' object_competition.pk %}" class="link-black">Количество участников: {{ object_competition.max_players }}</a></p>
                        </div>
                        <div class="col-md-3">
                            {% if object_competition.date_competition %}
                            <p class="card-text"><a href="{% url 'detail_com' object_competition.pk %}" class="link-black">{{ object_competition.date_competition }}</a></p>
                            {% else %}
                            <p class="card-text"><a href="{% url 'detail_com' object_competition.pk %}" class="link-black">{{ object_competition.pre_date_competition }}</a></p>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <a href="{% url 'detail_com' object_competition.pk %}" class="link-black">Статус регистрации: Завершено</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

